---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <title>Festividades</title>
    <body>


        


         <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

    </body>
</Layout>