---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <title>Mision y Vision</title>

  <body class="bg-gray-50 text-gray-800 font-sans">
      <main class="py-16">
      <div class="max-w-4xl mx-auto px-4 text-center">
        <h2 class="text-4xl font-bold text-blue-700 mb-12">Misión y Visión</h2>
  
        <!-- Misión -->
<div class="w-full p-4 text-center bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8 dark:bg-gray-800 dark:border-gray-700">
          <h3 class="text-2xl font-semibold text-blue-600 mb-4">Nuestra Misión</h3>
          <p class="text-lg text-gray-700 leading-relaxed">
            Promover el desarrollo integral de niños en condición de vulnerabilidad económica, social y emocional a través de un conjunto de actividades coordinadas que potencialicen sus capacidades e identidad para que Vean el camino en que deben andar y la obra que han de realizar cumpliendo una idónea función social.
          </p>
        </div>
  
        <!-- Visión -->
        <div class="bg-white p-8 shadow rounded-lg">
          <h3 class="text-2xl font-semibold text-blue-600 mb-4">Nuestra Visión</h3>
          <p class="text-lg text-gray-700 leading-relaxed">
            Ser una fundación sostenible equipada con todas las herramientas, un aliado confiable, innovador y dinámica presentando a la sociedad niños con vidas transformadas con identidad y propósito.
          </p>
        </div>
      </div>
    </main>
  
    
    
  
  </body>
</Layout>

